<div class="container">
    <div class="dashboard-card">
      <div class="card-header">
        <h2 class="section-title">Users List</h2>
        <!-- <button routerLink="/register" class="add-user-btn">Add User</button> -->
      </div>
      <div class="card-body">
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        <div class="search-container">
          <input 
            type="text" 
            placeholder="Search by name or role..." 
            [(ngModel)]="searchName" 
            (ngModelChange)="filterUsers()"
            class="search-input"
          />
          <span class="search-icon fa fa-search"></span>
        </div>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of filteredUsers | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                  <button class="action-btn delete-btn" (click)="deleteUser(user.id)">
                    <span class="fa fa-trash"></span>
                  </button>
                  <button class="action-btn update-btn" (click)="navigateToUpdate(user.id)">
                    <span class="fa fa-edit"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="currentPage = $event" class="pagination-controls"></pagination-controls>
      </div>
    </div>
  </div>