<div class="container">
    <div class="form-card">
        <h2>Update Profile</h2>
        <form (ngSubmit)="uploadImage()">
            <label for="image">Profile Image:</label>
            <input type="file" id="image" (change)="onImageSelected($event)" />

            <button type="submit">Upload Image</button>
        </form>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        <form (ngSubmit)="updateUser()" class="update-form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" [(ngModel)]="userData.name" required placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="userData.email" required placeholder="Enter your email">
            </div>
            <div class="form-group" *ngIf="isAdmin">
                <label for="role">Role</label>
                <select id="role" name="role" [(ngModel)]="userData.role" required>
                    <option value="" disabled>Select Role</option>
                    <!-- <option value="ADMIN">Admin</option>
                    <option value="USER">User</option> -->
                    <option value="OPERATOR">Operator</option>
                    <option value="SUPERVISOR">Supervisor</option>
                    <option value="MANAGER">Manager</option>
                    <option value="SUPERMANAGER">Super Manager</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="userData.password" placeholder="Enter new password (optional)">
            </div>
            <div class="form-group" hidden>
                <label hidden for="city">City</label>
                <input hidden type="text" id="city" name="city" [(ngModel)]="userData.city">
            </div>
            <div class="form-buttons">
                <button type="submit" class="submit-btn">Update Profile</button>
            </div>
        </form>
    </div>
</div>